NODE_ENV=test
PORT=4000

CLIENT_URL=http://localhost:4000

DATABASE_CLIENT=pg
DATABASE_USER=postgres
DATABASE_HOST=localhost
DATABASE_NAME=apiname_test
DATABASE_PASSWORD=postgres
DATABASE_PORT=5432

JWT_SECRET_KEY= # you can generate via node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"

DATABASE_SYNCHRONIZE=true

ADMIN_USER_EMAIL=brunosantos6ft@gmail.com
ADMIN_USER_PASSWORD=@password123!